extends ../layout/layout

block content
	title device
	.col-lg-10.col-lg-offset-1.col-md-12.col-sm-12.col-xs-12
		ol.breadcrumb
			li
				a(href='/home') Home
			li.active Device Add
	.row.text-center
		.col-md-12
			br
			h2 Device
			br
	.col-lg-10.col-lg-offset-1.col-md-12.col-sm-12.col-xs-12
		.panel.panel-default
			.panel-heading
				strong select
			.panel-body
				form(role='form', action='/home/device/add', method='POST')
					br
					label type
					select.form-control(name='devicetype')
						option air conditioner
						option lamp
					br
					label name
					input.form-control(type='text',name='devicename' placeholder='set name')
					br
					span.pull-right
						button.btn.btn-success(type='submit') add
