extends ../layout/layout

block content
	title add time
	.col-lg-10.col-lg-offset-1.col-md-12.col-sm-12.col-xs-12
		ol.breadcrumb
			li
				a(href='index.html') Home
			li
				a(href='air.html') Time
			li.active Add time
	.row.text-center
		.col-md-12
			br
			h2 set time
			br
	.col-lg-10.col-lg-offset-1.col-md-12.col-sm-12.col-xs-12
		.panel.panel-default
			.panel-heading
				strong select
			.panel-body
				form(role='form')
					label power
					select.form-control
						option on
						option off
					br
					label time
					br
					form.form-inline
						.col-sm-4
							label hh
							select.form-control
								option 00
								option 01
								option 02
								option 03
								option 04
								option 05
								option 06
								option 07
								option 08
								option 09
								option 10
								option 11
								option 12
								option 13
								option 14
								option 15
								option 16
								option 17
								option 18
								option 19
								option 20
								option 21
								option 22
								option 23
						.col-sm-4
							label mm
							select.form-control
								option 00
								option 01
								option 02
								option 03
								option 04
								option 05
								option 06
								option 07
								option 08
								option 09
								option 10
								option 11
								option 12
								option 13
								option 14
								option 15
								option 16
								option 17
								option 18
								option 19
								option 20
								option 21
								option 22
								option 23
								option 24
								option 25
								option 26
								option 27
								option 28
								option 29
								option 30
								option 31
								option 32
								option 33
								option 34
								option 35
								option 36
								option 37
								option 38
								option 39
								option 40
								option 41
								option 42
								option 43
								option 44
								option 45
								option 46
								option 47
								option 48
								option 49
								option 50
								option 51
								option 52
								option 53
								option 54
								option 55
								option 56
								option 57
								option 58
								option 59
					br
					br
					br
					br
					span.pull-right
						a.btn.btn-success(href='#') set
// SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME
// JQUERY SCRIPTS
script(src='/jquery.js')
// BOOTSTRAP SCRIPTS
script(src='/js/bootstrap.min.js')
